{% extends 'base.html' %}

{% block content %}

<h1>Campaigns</h1>
<p><a href="{% url 'create_campaign' %}">+ New Campaign</a></p>
{% if campaign_list %}

<table>
    <tr>
        <th>Party Name</th>
        <th>Party Size</th>
        <th>Scenarios Available</th>

    </tr>

    {% for campaign in campaign_list %}
    <form action= {% url 'delete_campaign' id=campaign.id %}>
    {% csrf_token %}
    <tr>
        <td><a href="{% url 'create_players' id=campaign.id%}">{{campaign.party_name}}</a></td>
        <td>{{campaign.players.count}}</td>
        <td>{{campaign.available_scenarios}}</td>
        <td><button>Edit</button></td>
        <td><button name="delete_campaign" value = {{campaign.id}}>Delete</button></td>
    </tr>
    </form>
    {% endfor %}

</table>

{% else %}

<h2>No Active Campaigns</h2>

{% endif %}
{% endblock content %}