{% extends 'base.html' %}

{% block content %}

<h1>{{campaign.party_name}}</h1>
<h2>Party Members</h2>


<table>
    <form method="post", action="{% url 'create_players' campaign.id%}">
        {% csrf_token %}
    <tr>
        <th>Player Name</th>
        <th>Character</th>
        <th>Class</th>
        <th>Level</th>
        <th>{{'        '}}</th>
    </tr>
    {%for player in players%}
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.character.name}}</td>
        <td>{{player.character.Class}}</td>
        <td>{{player.character.level}}</td>
    </tr>
    {%endfor%}
    {%if campaign.players.count < 4%}
    <tr>
        {%for field in player_form%}
        <td>{{field}}</td>
        {%endfor%}
        {%for field in character_form%}
        <td>{{field}}</td>
        {%endfor%}
        <td>
            <button formnovalidate name="add_player" value = {{player_num}}>Add</button>
        </td>
    </tr>
    {%endif%}
    </form>
</table>

{% endblock content %}