{% extends 'base.html' %}


{%block content%}
    <main>
        <div>
        <h1>Create Campaign</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name='create_campaign'>Create</button>
        </form>
    </div>


    </main>
{%endblock content%}