{% extends 'base.html' %}

{% block content %}
<h1>Delete {{campaign.party_name}}?</h1>

<table>
    <form method="post">
    {% csrf_token %}
    <tr>
        <th><button value = {{campaign.id}}>Confirm</button></th>
    </tr>
    <form>
</table>

<h2>Party Members</h2>


<table>
    <tr>
        <th>Player Name</th>
        <th>Character</th>
        <th>Class</th>
        <th>Level</th>
        <th>{{'        '}}</th>
    </tr>
    {%for player in campaign.players.all%}
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.character.name}}</td>
        <td>{{player.character.Class}}</td>
        <td>{{player.character.level}}</td>
    </tr>
    {%endfor%}
</table>

{% endblock content %}