{% extends 'base.html' %}

{%block title%}
    Scrumptious Recipes
{%endblock title%}

{%block content%}
    <main>
        <h1>{{campaign.party_name}}</h1>
        <h2>Add Players</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button name='add'>Add</button>
          <button name='continue'>Continue</button>
        </form>
    </main>
{%endblock content%}