{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloomhaven Helper</title>
    <link rel="stylesheet" href="{% static 'css/campaigns.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'campaign_list' %}">Campaign List</a>
        </nav>
    </header>
    <main>
        {%  block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>Made with blood, sweat, and tears by Josh</p>
    </footer>
</body>
</html>